* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #000000;
    color: rgb(255, 255, 255);
    display: flex; 
    justify-content: center;
    align-items: center;
}

#app {
    background: #4b4b4b56;
    display: flex;
    flex-direction: column;
    width: 380px;
    height: 500px;
    padding: 15px;
    border-radius: 15px;
    box-shadow: 0 0 10px rgb(254, 254, 254);
}

main {
    
    padding: 30px;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

nav {
    border-top: 2px solid #adadad;
    display: flex;
    align-items: center;
    padding: 10px;
    justify-content: space-between;
}

#gerar{
    border-radius: 50px;

    
    
}

#msg{
    width: 100%;
    overflow-wrap: break-word;
    word-wrap: break-word;
    font-size: 18px;
}

button{
    width:90px;
    height:50px;
    color: black;

}
body {
    flex-direction: column;
}

#app {
    margin: 50px;
}

header {
    color: rgb(255, 255, 255);
    position: fixed;
    top: 0;
    display: flex;
    justify-content: space-between;
    width: 100%;
    align-items: center;
    padding: 5px;
}

footer {
    padding: 20px;
    color: rgb(255, 255, 255);
}